APP_PASSCODE = "choose-a-shared-passcode"

[[gmail_accounts]]
email = "account1@gmail.com"
client_id = "xxxx.apps.googleusercontent.com"
client_secret = "xxxx"
refresh_token = "xxxx"

[[gmail_accounts]]
email = "account2@gmail.com"
client_id = "xxxx.apps.googleusercontent.com"
client_secret = "xxxx"
refresh_token = "xxxx"
